RewriteEngine off
DirectoryIndex webalizer.html
AuthUserFile /www/htdocs/w006e487//markusbrunnerdesign/fileadmin/darkrain/darkrain_band/usage//.htpasswd
AuthGroupFile /dev/null
AuthName ByPassword
AuthType Basic
<Limit GET POST>
require user w006e487
require user admin
</Limit>