vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Jun 2007 07:53:31 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|04 Jun 2007 07:53:31 -0000
vti_filesize:IR|342
vti_backlinkinfo:VX|darkrainBAND/sonstiges/mail_2005-07-10.html darkrainBAND/sonstiges/stellungnahme.de.html darkrainBAND/sonstiges/mail_2005-07-27.html darkrainBAND/sonstiges/gbuch_2005-07-27.html
